body{
    background-color: skyblue;
   }
img{
    width: 100px;
    height: 60px;
    margin-bottom: -55px;
}
nav{
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: fantasy;
    color: white;
    border-radius: 30px;
    background-color: orange;
    padding: 5px;

}
a{
    text-decoration: none;
}
